%li
  %article.main-contents__chat-list__text-box
    %h4 test
    %span 2018/12/08
    %span 12:01:36
    %p テスト、テスト、テスト、テスト、テスト、テスト、テスト、テスト、テスト、テスト、テスト、テスト、テスト
%li
  %article.main-contents__chat-list__text-box
    %h4 test
    %span 2018/12/08
    %span 12:01:36
    %p テスト、テスト、テスト、テスト、テスト、テスト、テスト、テスト、テスト、テスト、テスト、テスト、テスト
