// フォント関連
$Basic-black:#333333;
$Basic-white:#FFFFFF;
$Basic-gray:#999999;

// ヘッダー関連
$header-height: 24px;
$header-color: #38AEF0;

// サイドコンテンツ関連
$side-contents-width: 300px;
$side-contents-user-name-height: 15vh;

$side-contents-background-color: #2f3e51;
$side-user_name-background-color: #253141;

// メインコンテンツ関連
$main-contents-width-background-color: #DDDDDD;

// チャットフォーム関連

$chat-form-background-color: #B8C3C7;
