.main-contents
  .main-contents__group-name
    .main-contents__group-name__text-box
      %h3=@groop_now.name
      %p
        MEMBER:
        -@groop_now.users.each do |member|
          =member.name
    .main-contents__group-name__edit-box
      = link_to "Edit",edit_group_path(params[:group_id])
  .main-contents__chat-list
    %ul
      = render partial: 'shared/chat_article'

  %footer.main-contents__chat-form
    %form{:action => "/", :method => "post"}
      .main-contents__chat-form__message-box
        %input{:name => "title",:placeholder => "type a message"}
        %label{for: "upload-icon"}
          %i.fa.fa-picture-o
      %input.main-contents__chat-form__send-box{:type => "submit", :value => "Send"}
